.mygrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    padding: 50px 120px;
}

.products{
    /* background-color: rgb(255, 255, 255); */
    padding: 10px;
    position: relative;
}

.products img{
    width: 100%;
}

.discount{
    background-color: blueviolet;
    padding: 2px;
    border-radius: 10px;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
}

.upper-div{
    position: relative;
}

.dis{
    position: absolute;
    bottom: 0;
    left: 0;
}