body{
    font-family: sans-serif;
}

.outer-div{
    width: 25%;
    float: left;
}


.inner-div{
    background-color: rgb(178, 193, 206);
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}

.inner-div img{
    width: 100%;
}

@media screen and (max-width:768px) {
    .outer-div{
        width: 50%;
    }
}

@media screen and (max-width:480px) {
    .outer-div{
        width: 100%;
    }
}

